---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

figcaption {font-size: 0.75em; text-align: center;}
.crosspost {border: 3px solid red; background-color: #ffcccc; padding: 5px; text-align: center; color: red; font-size: 0.8em; border-radius: 10px; margin: 0;} 